@inherits RazorEngineCore.RazorEngineTemplateBase<CorePelican.TagPageModel>

<h1>Articles tagged: @Model.TagName</h1>

<ul>
    @foreach (var article in @Model.Articles)
    {
        <li><a href="@article.TotalPath"> @article.IsoDate @article.Title </a></li>
    }
</ul>